<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
  	<servlet-name>relogio</servlet-name>
  	<servlet-class>br.com.caelum.servlet.Relogio</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>relogio</servlet-name>
  	<url-pattern>/relogio</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>fazTudo</servlet-name>
  	<servlet-class>br.com.caelum.servlet.FazTudo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>fazTudo</servlet-name>
  	<url-pattern>/sistema</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>adicionaContato</servlet-name>
  	<servlet-class>br.com.caelum.servlet.AdicionaContato</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adicionaContato</servlet-name>
  	<url-pattern>/adicionaContato</url-pattern>
  </servlet-mapping>
  <error-page>
   	<exception-type>java.lang.exception</exception-type>
  	<location>/erro.html</location>
  </error-page>
</web-app>